.span {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
   


}
.clock {
    display: block;
    text-align: center;
    box-sizing: content-box;

}
.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-top: dashed;
    border-width: 0.2rem;
    color: white;
    background-color: rgb(16, 77, 16);
    box-sizing: content-box;

}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');